extends layout.pug
block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment of comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${user.avatar}` width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{user.firstname}
              time.publication__item-time(datetime=`${comment.createdAt}`) #{comment.createdAt}
            a.publication__item-text(href=`/articles/${comment.articleId}`) #{comment.text}
            p.publication__text-strong
              | «Яндекс.Метрика» запустила бесплатный сервис для оценки эффективности баннеров и видеорекламы в реальном времени
            form(action=`/articles/${comment.articleId}/comments/${comment.id}` method="POST" )
              button.publication__button.button.button--close-item.button-delete-comment(type='submit')
              span.visually-hidden Закрыть строку списка

